:root {
    --primary-color:#0084ff;
    --max-width: 1200px;
    --white-100: #ffffff;
    --white-200: #f7f8fb;

    --black-100: #000000;

    --blue-100:#f0f8ff;
    --blue-200:#e6f3ff;
    --blue-900:#1c3c50;

    --gray-100:#c8d4dd;
    --gray-200:#677294;

    --blue-filter-100:rgba(0, 132, 255,0.5);
    --blue-filter-200:rgba(0, 132, 255,0.2);
}

* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

html,
body {
max-width: 100vw;
overflow-x: hidden;
}